{% extends "base.html" %}
{% block main %}
    <form method=post action=/users/change_password/>
        <div id="content-margin">
            <table>
                <tr>
                    <td></td>
                    <td><h1>Зміна паролю</h1></td>
                </tr>
                <tr>
                    <td colspan=2>
                        <div class=spacer></div>
                    </td>
                </tr>
                <tr>
                    <td width=200>Старий пароль:</td>
                    <td>{{ form.old_password }}</td>
                </tr>
                {% if form.old_password.errors %}
                    <tr>
                    <td></td>
                    <td class=error>{{ form.old_password.errors|join:" " }}</td></tr>{% endif %}
                <tr>
                    <td colspan=2>
                        <div class=spacer></div>
                    </td>
                </tr>
                <tr>
                    <td>Новий пароль:</td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>Пiдтвердження:</td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                {% if form.new_password1.errors %}
                    <tr>
                    <td></td>
                    <td class=error>{{ form.new_password1.errors|join:" " }}</td></tr>{% endif %}
                <tr>
                    <td></td>
                    <td><input value=" Змінити " type="submit"></td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
{% block right %}{% endblock %}