{% extends "error.html" %}
{% block title %}Публикатор 500{% endblock %}

{% block main %}
    <div class=medium>
        <h1>Что-то произошло не так</h1>

        <div style='width: 700px;'>
            На сайте случилась ошибка. Можете быть уверенны, что администратор уже получил о ней уведомление. Но если
            для вас очень важно то, что должно быть вместо ошибки, попробуйте <a href="mailto:litclubua@gmail.com">связаться с
            администратором</a>.
        </div>
    </div>
{% endblock %}