{% extends "light.html" %}

{% block left %}
    <style>
        .options_navi {
            margin-bottom: 9px;
        }
    </style>

    <div style='padding-left: 40px; padding-top: 10px; font-size: 13px;'>
        <div style='color: gray; font-size: 15px; padding-bottom: 9px;'>Настройки</div>
        <div class=options_navi><a href="/users/change_profile/">Отредактировать профиль</a></div>
        <div class=options_navi><a href="/users/change_userpic/">Сменить юзерпик</a></div>
        <div class=options_navi>Установить новый пароль</div>
    </div>
{% endblock %}

{% block title %}Смена пароля{% endblock %}

{% block main %}
    <div class=medium style='padding-left: 40px;'>
        <h1>Смена пароля</h1>
        <form method=post action=/users/change_password/>
            <div id="content-margin">
                <table>
                    <tr>
                        <td width=130>Старый пароль:</td>
                        <td>{{ form.old_password }}</td>
                    </tr>
                    {% if form.old_password.errors %}
                        <tr>
                        <td></td>
                        <td class=error>{{ form.old_password.errors|join:" " }}</td></tr>{% endif %}
                    <tr>
                        <td>Новый пароль:</td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>Еще раз новый:</td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    {% if form.new_password1.errors %}
                        <tr>
                        <td></td>
                        <td class=error>{{ form.new_password1.errors|join:" " }}</td></tr>{% endif %}
                    <tr>
                        <td></td>
                        <td style='padding-top: 6px;'><input value=" Установить новый пароль "
                                                             type="submit"> {% if messages %}<span
                                style='color: green; padding-left: 12px;'>Пароль изменен</span>{% endif %}</td></tr>
                </table>
            </div>
        </form>
    </div>
{% endblock %}
