{% extends "light.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block main %}
    <div class=large>
        {% if pr %}
            {% if ok %}
                <h1>Пароль изменен</h1>
                <div style='font-size: 15px; width: 700px;'>Попробуйте <a href="/users/login/">зайти на сайт</a> с новым
                    паролем.
                </div>
            {% else %}
                <h1>Новый пароль для {{ pr.user.username }}</h1>

                <form method=post action=".?key={{ pr.key }}">
                    <table>
                        <tr>
                            <td width=90>Пароль:</td>
                            <td><input value="" name="password1" type="password" size=20></td>
                        </tr>
                        <tr>
                            <td width=90>Еще раз:</td>
                            <td><input value="" name="password2" type="password" size=20></td>
                        </tr>
                        {% if error %}
                            <tr>
                            <td></td>
                            <td class=error>
                                {% ifequal error 'none' %}Укажите пароль.{% endifequal %}
                                {% ifequal error 'diff' %}Пароли не совпадают.{% endifequal %}
                            </td></tr>
                        {% endif %}
                        <tr>
                            <td colspan=2>
                                <div class=spacer></div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input value="  Сменить пароль  " type="submit"></td>
                        </tr>
                    </table>
                </form>
            {% endif %}
        {% else %}
            <h1>Неправильная ссылка</h1>
            <div style='font-size: 15px; width: 700px;'>Причины три: прошло больше трех дней с даты получения вами этой
                ссылки, вы уже сменили по ней пароль или в ней указан неверный ключ. В любом случае вы можете получить
                новую ссылку на <a href="/users/reset_password/">странице восстановления пароля</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}